* {
	font-family: 'Raleway', sans-serif;
}

body {
	
}

header {
	background: url('/img/desk-laptop-small.jpg');
	background-size: 100%;
	background-position: center;
	padding: 10%;
	text-align: center;
}

h1 {
	/*font-weight: 400;*/
	text-shadow: 1px 1px 1px #D3D3D3;

}

.columns {
	display: inline-block;
	float: left;
	width: 33%
}

.column-border {
	border-left: 1px grey;
}

#partial {
	margin-left: 5%;
}

#alert {
	color: red;
}