* {
	font-family: 'Raleway', sans-serif;
}
body {
	margin: 0 30px;
}

header {
	text-align: center;
}

.columns {
	display: inline-block;
	float: left;
	width: 33%
}

.column-border {
	border-left: 1px grey;
}

.partial {
	margin-left: 5%;
}