<div ng-if="jobTools" class = "eleven columns">
  <h3>Job Tools</h3>
  <h4>Links</h4>
  <div ng-if="!editJobTools">
    Resume: <a>{{user.jobTools.resume}}</a></br>
    GitHub: <a href="https://github.com/{{user.jobTools.github}}">{{user.jobTools.github}}</a></br>
    LinkedIn:<a href="https://www.linkedin.com/in/{{user.jobTools.linkedin}}">{{user.jobTools.linkedin}}</a></br>
    Twitter: <a href="https://twitter.com/{{user.jobTools.twitter}}">@{{user.jobTools.twitter}}</a></br>
    Portfolio: <a>{{user.jobTools.portfolio}}</a></br>

    <h4>Brand Statement</h4>
    <p>
      {{user.jobTools.brandStatement}}
    </p>
    <button type="button" ng-click="user.showEditJobTools()">Edit</button>
  </div>

  <div ng-if="editJobTools">
    <form ng-submit="user.submitJobToolsEdits(user.jobTools)">
    Resume Link: <input type="text" ng-model="user.jobTools.resume"/></br>
    GitHub Username: <input type="text" ng-model="user.jobTools.github"/></br>
    LinkedIn Username: <input type="text" ng-model="user.jobTools.linkedin"/></br>
    Twitter Username: <input type="text" ng-model="user.jobTools.twitter"/></br>
    Portfolio Link: <input type="text" ng-model="user.jobTools.portfolio"/></br>
    Brand Statement: <textarea class="u-full-width" ng-model="user.jobTools.brandStatement"></textarea>

    <button type="submit">Submit</button>
    <button type="cancel">Cancel</button>
  </form>




</div>
